.login__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  padding: 0 0 13px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  outline: none;
  margin-top: 0;
  color: #CCCCCC;
  background-color: black;
}

.login__input:last-of-type {
  margin-top: 30px;
}
